build/
CMakeSettings*

# Kdevelop files
**/*.kdev4

# Clion files
.idea/
cmake-*

# Visual Studio files
.vs/

# Pycharm + Python virtual env
**/.idea
**/venv

# Python
**/*.pyc

# Doxygen output files
doc/html/
