<div class=custom-nav-bar>
    <ul>
        <li><a id="Home" href="{{ "/index.html" | relative_url }}">Home</a></li>
        <li><a id="Legendre" href="{{ "/legendre.html" | relative_url}}">Legendre</a></li>
        <li><a id="Spharm" href="{{ "/spharm.html" | relative_url }}">Spharm</a></li>
        <li><a id="Gegenbauer" href="{{ "/gegenbauer.html" | relative_url }}">Gegenbauer</a></li>
        <li><a id="HyperSpharm" href="{{ "/hyperspharm.html" | relative_url }}">HyperSpharm</a></li>
        <li style="float:right"><a id="About" href="{{ "/about.html" | relative_url }}">About</a></li>
    </ul>
</div>